# **Databases**
Any collection of related information that can be stored in different ways

## **Database Management System (DBMS)**
A special software program that helps users create, maintain and secure a database on a computer.
- Makes is easy to manage large amounts of information
- Handles security; access control to access data
- Backup
- Importing/exporting data
- Concurrency
- Interacts with sofwtare applications: programming languages

***DBMS isn't the database, it's the software system that is creating, maintaining, deleting information from the actual database.***

## **C.R.U.D** 

**Create Read/Retrieve Update Delete**

Represents the 4 main operations you are doing with a database

- Creating information from the database
- Reading/Retrieving information from database
- Updating existing information
- Deleting information that is in the database

## **Types of Databases**
**1. Relational Databases (SQL)**

*Use SQL and store data in tables with rows and columns*

Organizes data into one or more tables
 - Each table has columns and rows
 - A unique key identifies each row

Most popular type of databases.

Information is organised in this predefined tables. Looks like an excel spreadsheet

**2. Non-Relational Databases (noSQL / not just SQL)**

*Store data using other data structures*

Any type of database that is not a relational database. i.e:
 - Key-value stores/hash (sting, JSON, BLOB, etc)
 - Documents (JSON, XML etc)
 - Graphs (Relational nodes)
 - Flexible Tables

Anything that is not relational.


### **Relational Databases (SQL)**
Use a **Relational Database Management System (RDBMS)**; software program used to create and maintain a **relational database** i.e *MySQL Oracle, PostgreSQL, MariaDB* etc.

RDBMS use Structured Query Language (SQL)
- SQL is a standardized language for interacting with RDBMS

We can use SQL to:
 - perform C.R.U.D operations, as well as other administrative tasks (user management, security, backup etc.)
 - define tables and structures; uses tables to organise information


 ### **Non Relational Databases (noSQL, not just SQL)**
 Stores information in anything but a static table.

**Non-Relational Database Management Systems (NRDBMS)** help users to create and maintain a **non-relational database** i.e. *mongoDB, dynamoDB, apache cassandra, firebase, etc.* 

NRDBMS are implementaion specific:
- There is not set language standard
- Most NRDBMS implement their own language for performing C.R.U.D and administrative operations on the database

# **Database Queries**
**Asking the DBMS to give you some information** - Requests are made to the database management system for specific information 

## **Tables and Keys**
Columns - Define as single atribute
Row - Represents individual entry in a table

**1. Primary Key** - Uniquely identifies a row in a table.

Types of Primary Keys:

- Surrogate Key: A key that has no mapping to anything in the real world

- Natural Key: A key that has a mapping or has a purpose in the real world, not just in the database i.e ID Number, Social Security Number

**2. Foreign Key** - An attribute we can store on a database table that will link us to another database table.

A foreign keys stores the primary key of a row in another database table. It allows us to link up or define relationships between tables.

Composite Key - A key made up of two columns, both of which are foreign keys that identify as primary key

# **SQL Basics**
SQL is a language for interacting with the RDBMS.

SQL tells the RDBMS to perform the following:
- Create, retrieve, update & delete data
- Create & manage databses
- Design & create databases tables
- perform administration tasks (security, user management, import/export etc.)

SQL is a hybrid language; 4 languages in 1
- **Data Query Language;** Can be used to query the database for information & get information that is already stored in the database
- **Data Definition Language;** Used to define database schemas
- **Data Control Language;** Used or controlling access to the data in the databases, user and permissions management.
- **Data Manipulation Language;** Used for inserting updating and deleing data from the databases

# **Queries**
Set of instructions given to the RDBMS that tell the RDBMS what information you want it to retrieve for you.

The goal is to gather information that you need; only get the data that you need.

> SELECT employee.name, employee.age

> FROM employee

> WHERE employee.salary > 30000;

# **Installation**
MySQL - RDBMS

# **SQL COMMANDS**

# **Creating Tables**
**Basic data types in SQL**
1. INT - whole numbers
2. DECIMAL (M,N) - decimal numbers - exact value (M -total number of digits you want to store for the number , N - number of digits to store after the decimal point)
3. VARCHAR(1) - string of text of length 1 (variable characte - maximum number of characters)
4. BLOB  - binary large object, stores large data
5. DATE - 'YYYY-MM-DD'
6. TIMESTAMP - 'YYYY-MM-DD HH:MM:SS'

Define row, data type

> CREATE TABLE student (
    student_id INT  PRIMARY KEY,
    name VARCHAR(20), 
    major VARCHAR(20)
);

#### **Define primary key**
> CREATE TABLE student (
    student_id INT  PRIMARY KEY,
    name VARCHAR(20), 
    major VARCHAR(20)
);

OR

> CREATE TABLE student (
    student_id INT,
    name VARCHAR(20), 
    major VARCHAR(20),
    PRIMARY KEY (student_id)
);

## **Describe a Table**
Describes the table you have created

> DESCRIBE student;

## **Delete or Modify a Table**
**Delete Table - Drops the table**
> DROP TABLE student;

**Alter specific column - add another column to table**
> ALTER TABLE student ADD gpa DECIMAL(3,2); 

#Adding a gpa column, normally it has 3.03 hence 3 total digits, 2 digit appearing after decimal parameter

**Drop a specific column from table**
> ALTER TABLE student DROP COLUMN gpa;

We can:
- Create tables: Define all your database schema befoe inserting data into your table
- Modify tables: Add columns to the table, Drop/ Remove columns and table

# **Inserting Data into Database Tables**
You cannot input duplicate entries.

> CREATE TABLE student (
    student_id INT  PRIMARY KEY,
    name VARCHAR(20), 
    major VARCHAR(20)
    gpa DECIMAL(3,2)
);

> INSERT INTO student VALUES();

**INSERT INTO the student table, the VALUES....**


> INSERT INTO student VALUES(1, 'Jack', 'Biology');

**Assuming there are attributes you do not have i.e major of student, you can specify column to input**
> INSERT INTO student (student_id, name) VALUES(2, 'Kate')

## **Constraints**
Added to specific columns of the table.
- NOT NULL
- UNIQUE
- DEFAULT
- AUTO_INCREMENT

**NOT NULL** and **UNIQUE** help control you to control data that is stored in the table.

Primary Key is *Not Null* and *Unique*

**NOT NULL**
Defines that a particular column in a table cannot be null.

> CREATE TABLE student (
    student_id INT,
    name VARCHAR(20) NOT NULL, 
    major VARCHAR(20),
    PRIMARY KEY (student_id)
);

**UNIQUE**
Has to be unique in each row of the table
> CREATE TABLE student (
    student_id INT,
    name VARCHAR(20) NOT NULL, 
    major VARCHAR(20) UNIQUE,
    PRIMARY KEY (student_id)
);

**DEFAULT** Setting default value
> CREATE TABLE student (
    student_id INT,
    name VARCHAR(20), 
    major VARCHAR(20) DEFAULT 'undecided',
    PRIMARY KEY (student_id)
);  


> INSERT INTO student VALUES(1, 'Jack', 'Biology');

> INSERT INTO student VALUES(2, 'Kate', 'Sociology');

> INSERT INTO student(student_id, name) VALUES(3, 'Claire');

**AUTO_INCREMENT**
Specfies that data entered will automatically be incremented every time you insert a new row.
> CREATE TABLE student (
    student_id INT AUTO_INCREMENT,
    name VARCHAR(20), 
    major VARCHAR(20) DEFAULT 'Undecided',
    PRIMARY KEY (student_id)
);


>INSERT INTO student(name, major) VALUES('Jack', 'Biology');

>INSERT INTO student(name, major) VALUES('Kate', 'Sociology');

>INSERT INTO student(name, major) VALUES('Claire', 'Chemistry');

# **Update & Delete**
Updating and deleting rows inside of a database table

## **Update Statement**
Used to update entries
Example: change major from Biology to Bio
> UPDATE student
SET major = 'Bio'
WHERE major = 'Biology';

> UPDATE student
SET major = 'Physics'
WHERE student_id = 4;

Example: Students who are Bio or Chemistry majors are not Biochemistry majors

> UPDATE student
SET major = 'Biochemisty'
WHERE major = 'Bio' or major = 'Chemistry';

### **Changing multiple columns within a query**
>UPDATE student
SET name = 'Tom', major = 'Undecided'
WHERE student_id = 1;

### **Updating all rows** - Remove WHERE
> UPDATE student
SET major = 'Undecided';

## **Delete Statement**

DELETE specific rows or group of rows from table

**Delete all rows inside the tables**
> DELETE FROM student;

**Delete specific row**
> DELETE FROM student
WHERE student_id = 5;

>DELETE FROM student
WHERE name = 'Tom' AND major = 'Undecided';

Other comparison operators
- = :equals
- <> : not equals
- '> : greater than
- < : less than
- '>= :greater than or equal
- <= : less than or equal

# **Basic Queries**
Query: asks database for a particular information

**SELECT** Getting information from the database

*SELECT * - Selects all information in the table
> SELECT * 

>FROM student;

**SELECT *column* FROM *table***
>SELECT name

> FROM student;

**Selecting specific columns from table**
>SELECT name, major

>FROM student;

> SELECT student.name, student.major

> FROM student;

**ORDERBY** Order information
> SELECT student.name, student.major

> FROM student

> ORDER BY name;


By default the ORDER BY is in ascending order. To convert to descending order, use DESC

> SELECT student.name, student.major

> FROM student

> ORDER BY student_id DESC;